</br>
</br>
</br>
</br>




<h3>Правила</h3></br>
<p4>на доске запрещается: </p4></br>
<li>- размещать объявление криминального, националистического или порнографического характера;</li>
<li>- размещать сообщения, порочащие честь и достоинство третьих лиц;</li>
<li>- размещать фотографии порнографического характера;</li>
<li>- подача объявлений, содержащих ненормативную лексику и нарушающие нормы морали;</li>
<li>- подача объявления без указания данных для обратной связи (емайл, телефон или URL);</li>
<li>- размещать одно и то же объявление в разные разделы;</li>
<li>- размещать объявление, содержание которого не соответствует теме выбранного раздела;</li>
<li>- размещать сообщения общего рекламного характера, сообщения не соответствующие тематике раздела.</li>

<h3>В случае нарушения правил, Ваше объявление не будет размещено.</h3></br> 
</br> 
<p4>Администрация сайта никоим образом не несёт ответственность за услуги или товар,</br>
предложение которых находится на данной доске, а также оставляет за собой право не размещать</br>
любое объявление без объяснения причин.</p4>
