<p id="notice"><%= notice %></p>

<h1>Категории</h1>
 <% for cat in Category.roots %>
   
	<ul>
      <li><h3><%=  cat.name %></h3></li>
	</ul>
	
  

<table>
  <thead>
    <tr>
      <th></th>
	  <th></th>
	  <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for category in cat.children %>
      <tr>
	    
        <td><%= category.name %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<br>

